.card {

     perspective: 150rem;
     -moz-perspective: 150rem;
     position: relative;
     height: 50rem;
    


    &_side {

        height: 50rem;
        transition: all .7s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: .15);


        &--front {
            background-color: #F9F7F1;
        }

        &--back {
            
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $color-1card-lig, $color-1card-dark);
            }

            &-2 {
                background: linear-gradient(to right bottom, #00b4db, #0083b0);
            }

            &-3 {
                background-image: linear-gradient(to right bottom, $color-3card-lig, $color-3card-dark);
            }
        }
    }

    &:hover &_side--front {
        transform: rotateY(-180deg);
    }

    &:hover &_side--back {
        transform: rotateY(0);
    }

    &_picture {
        background-size: cover;
        height: 25rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: 3px;
        &--1 {
            background-image:  
                url(../IMG/cholo.jpg) ;
        }

        &--2 {
            background-image: url(../IMG/black.jpg) ;
        }

        &--3 {
            background-image: url(../IMG/red.jpg) ;
        }

        
    }

    &_heading {
        font-size: 3rem;
        font-weight: 200;
        text-align: right;
        text-transform: uppercase;
        color: $color-yow;
        position: absolute;
        top: 12rem;
        right: 1rem;
        width: 60%;

        
    }

    &_heading-span {
        padding: 1.5rem 1.5rem;
    
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        &--1 {
            background-image: linear-gradient(to right bottom,
             rgba($color-1card-lig, .8), 
             rgba($color-1card-dark, .8));
        }

        &--2 {
            background-image: linear-gradient(to right bottom,
             rgba($color-pri, .8), 
             rgba($color-pri-sub, .8));
        }

        &--3 {
            background-image: linear-gradient(to right bottom,
             rgba($color-3card-lig, .8), 
             rgba($color-3card-dark, .8));
        }
    }

    &_details {
        
        padding: 3rem;
        color: $color-DarkGoldenRod;

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;


            li {
                text-align: center;
                
                
                font-size: 2rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid $color-DarkGoldenRod;
                }
            }

        }
    }


    &_cta {
        position: absolute;
        color: aliceblue;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    &_price-box {
        text-align: center;
        margin-bottom: 8rem;
        color: $color-yow;


    }

    &_price-only {
        font-size: 1.6rem;
        text-transform: uppercase;

    }

    &_price-value {
        font-size: 6rem;
        font-weight: 100;
    }





    @media only screen and (max-width: 56.25em),
             only screen and (hover: none) {
        height: auto;
        border-radius: 3px;
        background-color: #F9F7F1;
    
        box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: .15);
        

       &_side {
           height: auto;
           position: relative;
           border-radius: 3px;
           box-shadow: none;
              
          &--back {
               
               transform: rotateY(0);
               clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
          }
       }
   
       &:hover &_side--front {
           transform: rotateY(0);
       }

       &_details {
        
        padding: 1rem 2rem;
        

        }

       &_cta {
           position: relative;
           top: 0;
           left: 0;
           transform: translate(0);
           width: 100%;
           padding: 7rem 4rem 4rem 4rem;
       }
   
       &_price-box {
           margin-bottom: 3rem;
       }
   
  
       &_price-value {
           font-size: 4rem;
       }
    }
} 


