.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, $alpha: .1);
    background: linear-gradient(to left,rgba(#d9a7c7,.5),rgba(#fffcdc,.5));
   
    border-radius: 3px;
    border: hidden;
    padding:6rem ;
    padding-left: 9rem;
    font-size: $de-size-font;
    transform: skewX(-12deg);

    @include respond(tab-port) {
         width: 100%;
         padding: 4rem;
         padding-left: 7rem;
    }

    @include respond(phone) {
        transform: skew(0);
    }

    

    &_shape {
        width: 15rem;
        height: 15rem;
        
       
        float: left;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        

        clip-path: circle(50% at 50% 50%);
        transform:translateX(-3rem) skewX(12deg) ; 
        position: relative;

        @include respond(phone) {
            transform: translateX(-3rem) skew(0);
        }

    }

    &-img {
        width: 140%;
       
        transform: translateY(-3rem) scale(1.3);
        
    }

    &_text {
        transform: skewX(12deg) ease;

        @include respond(phone) {
            transform:  skew(0);
        }

    }

    &_caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 10%);
        color: $color-yow;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all ,.5s ;
        backface-visibility: hidden;
    }

    &:hover &_caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &-img {
        transform: translateX(-1rem) scale(1);
        filter: blur(3px) brightness(90%); 
        
    }

    
}