.footer {
    background-image: linear-gradient(to left, #0f0c29, #302b63, #24243e);
    padding: 10rem 0;
    font-size: 2rem;
    

    &_logo-box {
        text-align: center;
        margin-bottom: 8rem;


    }

    &_logo {
        width: 15rem;
        height: auto;

    }

    &_navigation {
        border-top: 1px solid #F0F8FF;
        padding: 2rem;
        display: inline-block;
    }

    &_list {
        list-style: none;

    }

    &_item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;

        }
    }

    &_link {
        &:link,
        &:visited {
            color:#F0F8FF ;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
        }


        &:hover,
        &:active {
            color: $color-1card-lig;
            box-shadow: 0 1.2rem 2rem rgba($color: #000000, $alpha: .4);
            transform: rotate(5deg) scale(1.3);
        }
    }

    &_copyright {
        border-top: 1px solid #F0F8FF;
        padding-top: 2rem;
        width: 80%;
        float: right;
    }

    
}


