.header{
    height: 100vh;
    background-image: linear-gradient(
        to right bottom ,$color-pri, $color-pri-sub),
        url(../IMG/baking-bread-butter-dough.jpg);
    background-size: cover;
    background-position: center;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 0,100% 0, 100% 90%, 0 100%);

    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
        clip-path: polygon(0 0,100% 0, 100% 90%, 0 100%);
    }

    &_logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &_logo{
        height: 20rem;
    }

    &_text-box{
        position: absolute;
        top : 50%;
        left : 50%;
        transform : translate(-50% ,-50%);
        text-align : center;
    }

    &_logo:hover {
        animation: moveInUp 1.5s ease-out .5s; 
    }



}