.navigation {
  height: 7rem;
  background-color: white;
  display: grid;
  grid-template-columns: 25% 1fr 1fr 25%; }
  .navigation_logo {
    padding: .8rem 0;
    grid-area: 1/2/2/3;
    cursor: pointer; }
    .navigation_logo_img {
      width: 35%; }
  .navigation_log {
    grid-area: 1/3/2/4;
    justify-self: right;
    padding: 2rem;
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
    color: #03314b; }
    .navigation_log:hover::after {
      content: "";
      background-color: greenyellow;
      display: block;
      bottom: -3rem;
      width: 100%;
      height: .2rem; }

.header {
  height: 35vh;
  display: grid;
  grid-template-columns: 25% 1fr 1fr 25%;
  padding-left: 3rem;
  font-family: Poppins; }
  .header_pri {
    grid-area: 1/2/2/3;
    font-size: 5rem;
    line-height: 5rem;
    margin-top: 7rem;
    font-weight: 550; }
  .header_sub {
    grid-area: 2/2/3/3;
    font-size: 1.9rem;
    font-weight: 300;
    margin-top: -8rem;
    padding: 4rem 0; }
  .header_button {
    grid-area: 3/2/4/3;
    padding: 3rem 0;
    cursor: pointer;
    margin-top: -15rem; }
  .header_img {
    position: relative;
    grid-area: 1/2/3/4;
    z-index: -1;
    margin-left: 35rem;
    margin-top: 2rem; }
  .header_back {
    background-color: #1775fc;
    grid-area: 1/4/3/5;
    max-height: 98.28%;
    padding-left: 3rem;
    margin-top: 2rem;
    z-index: -2;
    position: relative; }

.format {
  height: 55vh;
  margin-top: 12rem;
  background-color: #F1F6F4;
  display: grid;
  grid-template-columns: 25% 1fr 1fr 25%; }
  .format_header {
    text-align: center;
    font-size: 3rem;
    font-weight: 550;
    font-family: Poppins;
    grid-area: 1/2/2/4; }
    .format_header_pri {
      padding: 5.5rem 0; }
  .format_img1 {
    grid-area: 2/2/3/3;
    background: center; }
    .format_img1 img {
      height: 80%; }

body {
  font-family: "Poppinsl", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #000;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.btn-text:link, .btn-text:visited {
  font-size: 1.5rem;
  background-color: #2ce080;
  color: white;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px;
  padding: 1rem 10rem;
  border-radius: 1rem; }

.btn-text:hover {
  background-color: #24B567; }
