.header {
    height: 100vh;
    background-color:#f7f7f7;

    


    &_text-box{
        position: absolute;
        top : 40%;
        left : 30%;
        transform : translate(-50% ,-50%);
        text-align : center;
        z-index: 1000;
    }

    &_composition {
        position: relative;
        padding: 40rem;
    }
  
}