.section-about {
    background-color: $color-Cornsilk;
    padding: 25rem ;
    margin-top: -19vh;
    
    @include respond(tab-port) {
        padding: 15rem 0;
        
    }
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom,$color-pri, $color-pri-sub),
        url(../IMG/cover_m.png);
    background-size: cover;
    background-position: center;

    transform: skewY(-7deg);
    margin-top: -11rem;

    @include respond(tab-port) {
        padding: 10rem 0 15rem 0;
        
    }

    & > * {
        transform: skewY(7deg);

    }
}

.section-food {
    background-color: $color-Cornsilk;
    padding: 20rem 0 20rem 0;
    margin-top: -11rem;
    clip-path: polygon(0 13%, 100% 0, 100% 87%, 0 100%);
    
    @include respond(tab-port) {
        padding: 15rem 0 15rem 0;
        margin-top: -11rem;
        clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
    }
    
}

.section-story {
    padding: 10rem 0;
    
    position: relative;

    @include respond(tab-port) {
        padding: 5rem 0 10rem 0;
        
    }
}

.section-book {
    padding: 20rem 0;
    background-image:  linear-gradient(to left, #333333, #dd1818);
    clip-path: polygon(0 13%, 100% 0, 100% 100%, 0 100%);
    margin-top: -10rem;

    @include respond(tab-port) {
        padding: 20rem 0;
        
    }
}

.book {
    background-image: linear-gradient(105deg,
     rgba($color-Cornsilk, .9) 0%,
     rgba($color-Cornsilk, .9) 50%,
     transparent 50%),
     url(../IMG/booking1.jpg);

    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5 4rem rgba($color-black, $alpha: 1);

   
    @include respond(tab-land) {
        background-image: linear-gradient(105deg,
       rgba($color-Cornsilk, .9) 0%,
       rgba($color-Cornsilk, .9) 65%,
       transparent 65%),
       url(../IMG/booking1.jpg);
       background-size: cover;
    }

    @include respond(tab-port) {
        background-image: linear-gradient(105deg,
        rgba($color-Cornsilk, .9) 0%,
        rgba($color-Cornsilk, .9) 100%,),
        url(../IMG/booking1.jpg);
        padding: 5rem 0;
    }

    &_form {
        width: 50%;
        padding: 6em;

        @include respond(tab-land) {
            width: 65%;
        }
        @include respond(tab-port) {
            width: 100%;
        }
    }
}