
$color-pri: #843c0ce5;
$color-pri-sub: #c85b12e7;
$color-yow: #ffffff;
$color-grey: #f7f7f7;
$color-black: #000;
$color-Cornsilk: #FFF8DC;

$color-1card-lig: #ffb900;
$color-1card-dark: #ff7730;

$color-3card-lig: #2998ff;
$color-3card-dark: #5643fa;
$color-DarkGoldenRod: #B8860B;
$color-Crimson: #DC143C;
$color-Chartreuse: #7FFF00;

$grid_width: 114rem;
$gutter_vertical: 8rem;
$gutter_horizontal: 6rem;

$de-size-font: 2rem;

$color_green: #20BA68;
$color_green_light: #2CDE80;

$color_white: #ffffff;
$color_white_secondary: #F1F6F4;

$color_blue: #03314B;
$color_blue_light: #D7E9FF;
$color_blue_mid: #1775FC;

$color_grey: #3A4649;$color_green: #20BA68;
$color_green_light: #2CDE80;

$color_white: #ffffff;
$color_white_secondary: #F1F6F4;

$color_blue: #03314B;
$color_blue_light: #D7E9FF;
$color_blue_mid: #1775FC;

$color_grey: #3A4649;$color_green: #20BA68;
$color_green_light: #2CDE80;

$color_white: #ffffff;
$color_white_secondary: #F1F6F4;

$color_blue: #03314B;
$color_blue_light: #D7E9FF;
$color_blue_mid: #1775FC;

$color_grey: #3A4649;$color_green: #20BA68;
$color_green_light: #2CDE80;

$color_white: #ffffff;
$color_white_secondary: #F1F6F4;

$color_blue: #03314B;
$color_blue_light: #D7E9FF;
$color_blue_mid: #1775FC;

$color_grey: #3A4649;