
$color-pri: #843c0ce5;
$color-pri-sub: #c85b12e7;
$color-yow: #ffffff;
$color-grey: #f7f7f7;
$color-black: #000;
$color-Cornsilk: #FFF8DC;

$color-1card-lig: #ffb900;
$color-1card-dark: #ff7730;

$color-3card-lig: #2998ff;
$color-3card-dark: #5643fa;
$color-DarkGoldenRod: #B8860B;
$color-Crimson: #DC143C;
$color-Chartreuse: #7FFF00;

$gride-width: 114rem;
$gutter-vertical: 10rem;
$gutter-vertical-small: 6rem;
$gutter-hotizontal: 6rem;

$de-size-font: 2rem;