.explore {
        background-color: #F1F6F4;
        height: 45vh;
        display: grid;
        grid-template-columns: 25% 1fr 1fr 25%;

        &_header {
            color: #03314b;
            grid-area: 1/2/2/3;
            font-size: 5rem;
            font-weight: 550;
            font-family: Poppins;
            &_pri {
                padding: 5rem 0;
            }

            &_sub {
                margin-top: -7rem;
                &::after {
                    content: "";
                 background-color: #2ce080;
                 display: block;
                 margin-top: 4rem;
                 width: 23%;
                 height: .5rem;
                }
                
            }

            

            
        }

        &_sub {
            
            grid-area: 1/3/2/4;
            font-size: 1.9rem;
            font-weight: 300;
            padding: 7rem 0;
            font-family: Poppins;
            //letter-spacing: .1rem;

            

            
        }


}