.header {
    height: 35vh;
    //background-color: hotpink;
    display: grid;
    
    //grid-template-columns: repeat(4,1fr);
    grid-template-columns: 25% 1fr 1fr 25%;
    padding-left: 3rem ;
    font-family: Poppins;


    &_pri {
        grid-area: 1/2/2/3;
        font-size: 5rem;
        line-height: 5rem;
        margin-top: 7rem;
        font-weight: 550;

    }

    &_sub {
        grid-area: 2/2/3/3;
        font-size: 1.9rem;
        font-weight: 300;
        margin-top: -8rem ;
        padding: 4rem 0;
    }

    &_button {
        grid-area: 3/2/4/3;
        padding: 3rem 0;
        cursor: pointer;
        margin-top: -15rem;
    
        
        
    
        
    }

    &_img {
        position: relative;
        grid-area: 1/2/3/4;
        z-index: -1;
        margin-left: 35rem;
        margin-top: 2rem;
        

                        
    }
    
    &_back {
        background-color: #1775fc;
        grid-area: 1/4/3/5;
        max-height: 98.28%;
        padding-left: 3rem;
        margin-top: 2rem;
        z-index: -2;
        position: relative;
    }
}