*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-family: "Girassol", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #000;
  padding: 0;
  box-sizing: border-box; }

.heading-primary {
  color: #000;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 7rem;
    font-weight: 600;
    letter-spacing: 2rem;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2.1rem;
    font-weight: 300;
    letter-spacing: 2.3rem;
    animation-name: moveInRight;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-timing-function: ease-out; }

.header {
  height: 100vh;
  background-image: url(../img/pic1.jpg);
  background-size: cover;
  background-position: center; }
  .header_logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header_logo {
    height: 10rem; }
  .header_text-box {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1000; }

.navigation_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
  position: relative; }

.navigation_item {
  float: left; }

.navigation_link {
  border-radius: 40px;
  background: linear-gradient(145deg, #dbcf4b, #fff659);
  box-shadow: 34px 34px 55px #b1a83d,  -34px -34px 55px #ffff69;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; }
